{% extends "base.html" %}

{% load crispy_forms_tags %}
{{ form.media }}

{% block content %}
<div class="container bg-opacity form_bg">
  <form action="update_record/{{ booking.booking_reference }}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          {{booking.booking_reference}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <input name="first_name" type="text" value="{{booking.first_name}}">
        </div>
        <div class="col-6">
          <input name="last_name" type="text" value="{{booking.last_name}}">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <input name="booking_date" type="date" value="{{booking.booking_date}}">
        </div>
        <div class="col-8">
          <input name="booking_ToD" type="time" value="{{booking.booking_ToD}}">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input name="number_of_guests" type="text" value="{{booking.number_of_guests}}">
        </div>
        <div class="col">
          <input name="phone_number" type="text" value="{{booking.phone_number}}">
        </div>
      </div>
      <input type="submit" value="Submit">
  </form>
</div>


{% endblock %}